{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Runescape - {{ name }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'iportfolio/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'iportfolio/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'iportfolio/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'iportfolio/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.5.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'iportfolio/assets/img/RS_Rune_final.png' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="iportfolio.html">{{ name }}</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#numbers" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Summary</span></a></li>
          <li><a href="#quests" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Quests</span></a></li>
          <li><a href="#levels" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Levels</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Facts Section ======= -->
    <section id="numbers" class="facts section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Summary</h2>
          <p>The important numbers about this character.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <!-- <i class="bi bi-emoji-smile"></i> -->
              <span data-purecounter-start="0" data-purecounter-end="{{ combatlevel }}" data-purecounter-duration="1" class="purecounter" style="color:white"></span>
              <p><strong>Combat Level</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <!-- <i class="bi bi-journal-richtext"></i> -->
              <span data-purecounter-start="0" data-purecounter-end="{{ totalskill }}" data-purecounter-duration="1" data-purecounter-separator="true" data-purecounter-separatorsymbol="," class="purecounter" style="color:white"></span>
              <p><strong>Total Skill</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <!-- <i class="bi bi-headset"></i> -->
              <span data-purecounter-start="0" data-purecounter-end="{{ totalxp }}" data-purecounter-duration="1" data-purecounter-separator="true" data-purecounter-separatorsymbol="," class="purecounter" style="color:white"></span>
              <p><strong>Total XP</strong> and no signs of stopping</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="quests" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Quests</h2>
          <p>Out of 307 quests possible, this character has completed {{ questscomplete }} ({{ questspercent}}%)</p>
          <br>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#questModal">
            See all quests
          </button>

          <!-- Modal -->
          <div class="modal fade" id="questModal" tabindex="-1" role="dialog" aria-labelledby="allqueststitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background: #02131a;">
                  <h5 class="modal-title" id="allqueststitle">All Quests</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="background-color: #02131a;">
                  {% for quest in allquests %}
                    <p><h4 style="color: lightgrey;">{{ quest.title }}</h4></p>
                    <ul>
                      <li>Status: {{ quest.status }}</li>
                      <li>Official difficulty: {{ quest.difficulty }}</li>
                      <li>Members-only: {{ quest.members }}</li>
                      <li>Quest points: {{ quest.questPoints }}</li>
                      <li>Character eligibility: {{ quest.userEligible }}</li>
                    </ul>
                  {% endfor %}
                </div>
                <div class="modal-footer" style="background: #02131a;">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="levels" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>All Skill Levels</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="resume-item pb-0">
              <h3>Attack</h3>
              {% if skills.Attack > 98 %}
                {% if xp.Attack > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Attack }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Attack }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Attack }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Attack }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Attack }}</h4>
                <h4>XP {{ xp.Attack }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Defence</h3>
              {% if skills.Defence > 98 %}
                {% if xp.Defence > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Defence }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Defence }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Defence }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Defence }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Defence }}</h4>
                <h4>XP {{ xp.Defence }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Strength</h3>
              {% if skills.Strength > 98 %}
                {% if xp.Strength > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Strength }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Strength }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Strength }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Strength }}</h4>
                {% endif %}
            {% else %}
              <h4>Level {{ skills.Strength }}</h4>
              <h4>XP {{ xp.Strength }}</h4>
            {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Constitution</h3>
              {% if skills.Constitution > 98 %}
                {% if xp.Constitution > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Constitution }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Constitution }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Constitution }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Constitution }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Constitution }}</h4>
                <h4>XP {{ xp.Constitution }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Ranged</h3>
              {% if skills.Ranged > 98 %}
                {% if xp.Ranged > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Ranged }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Ranged }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Ranged }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Ranged }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Ranged }}</h4>
                <h4>XP {{ xp.Ranged }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Prayer</h3>
              {% if skills.Prayer > 98 %}
                {% if xp.Prayer > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Prayer }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Prayer }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Prayer }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Prayer }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Prayer }}</h4>
                <h4>XP {{ xp.Prayer }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Magic</h3>
              {% if skills.Magic > 98 %}
                {% if xp.Magic > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Magic }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Magic }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Magic }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Magic }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Magic }}</h4>
                <h4>XP {{ xp.Magic }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Cooking</h3>
              {% if skills.Cooking > 98 %}
                {% if xp.Cooking > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Cooking }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Cooking }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Cooking }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Cooking }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Cooking }}</h4>
                <h4>XP {{ xp.Cooking }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Woodcutting</h3>
              {% if skills.Woodcutting > 98 %}
                {% if xp.Woodcutting > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Woodcutting }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Woodcutting }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Woodcutting }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Woodcutting }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Woodcutting }}</h4>
                <h4>XP {{ xp.Woodcutting }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Fletching</h3>
              {% if skills.Fletching > 98 %}
                {% if xp.Fletching > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Fletching }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Fletching }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Fletching }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Fletching }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Fletching }}</h4>
                <h4>XP {{ xp.Fletching }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Fishing</h3>
              {% if skills.Fishing > 98 %}
                {% if xp.Fishing > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Fishing }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Fishing }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Fishing }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Fishing }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Fishing }}</h4>
                <h4>XP {{ xp.Fishing }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Firemaking</h3>
              {% if skills.Firemaking > 98 %}
                {% if xp.Firemaking > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Firemaking }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Firemaking }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Firemaking }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Firemaking }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Firemaking }}</h4>
                <h4>XP {{ xp.Firemaking }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Crafting</h3>
              {% if skills.Crafting > 98 %}
                {% if xp.Crafting > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Crafting }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Crafting }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Crafting }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Crafting }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Crafting }}</h4>
                <h4>XP {{ xp.Crafting }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Smithing</h3>
              {% if skills.Smithing > 98 %}
                {% if xp.Smithing > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Smithing }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Smithing }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Smithing }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Smithing }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Smithing }}</h4>
                <h4>XP {{ xp.Smithing }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Mining</h3>
              {% if skills.Mining > 98 %}
                {% if xp.Mining > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Mining }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Mining }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Mining }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Mining }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Mining }}</h4>
                <h4>XP {{ xp.Mining }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Herblore</h3>
              {% if skills.Herblore > 119 %}
                {% if xp.Herblore > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Herblore }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Herblore }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Herblore }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Herblore }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Herblore }}</h4>
                <h4>XP {{ xp.Herblore }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Agility</h3>
              {% if skills.Agility > 98 %}
                {% if xp.Agility > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Agility }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Agility }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Agility }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Agility }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Agility }}</h4>
                <h4>XP {{ xp.Agility }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Thieving</h3>
              {% if skills.Thieving > 98 %}
                {% if xp.Thieving > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Thieving }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Thieving }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Thieving }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Thieving }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Thieving }}</h4>
                <h4>XP {{ xp.Thieving }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Slayer</h3>
              {% if skills.Slayer > 119 %}
                {% if xp.Slayer > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Slayer }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Slayer }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Slayer }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Slayer }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Slayer }}</h4>
                <h4>XP {{ xp.Slayer }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Farming</h3>
              {% if skills.Farming > 119 %}
                {% if xp.Farming > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Farming }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Farming }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Farming }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Farming }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Farming }}</h4>
                <h4>XP {{ xp.Farming }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Runecrafting</h3>
              {% if skills.Runecrafting > 98 %}
                {% if xp.Runecrafting > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Runecrafting }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Runecrafting }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Runecrafting }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Runecrafting }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Runecrafting }}</h4>
                <h4>XP {{ xp.Runecrafting }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Hunter</h3>
              {% if skills.Hunter > 98 %}
                {% if xp.Hunter > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Hunter }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Hunter }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Hunter }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Hunter }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Hunter }}</h4>
                <h4>XP {{ xp.Hunter }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Construction</h3>
              {% if skills.Construction > 98 %}
                {% if xp.Construction > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Construction }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Construction }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Construction }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Construction }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Construction }}</h4>
                <h4>XP {{ xp.Construction }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Summoning</h3>
              {% if skills.Summoning > 98 %}
                {% if xp.Summoning > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Summoning }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Summoning }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Summoning }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Summoning }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Summoning }}</h4>
                <h4>XP {{ xp.Summoning }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Dungeoneering</h3>
              {% if skills.Dungeoneering > 119 %}
                {% if xp.Dungeoneering > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Dungeoneering }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Dungeoneering }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Dungeoneering }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Dungeoneering }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Dungeoneering }}</h4>
                <h4>XP {{ xp.Dungeoneering }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Divination</h3>
              {% if skills.Divination > 98 %}
                {% if xp.Divination > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Divination }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Divination }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Divination }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Divination }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Divination }}</h4>
                <h4>XP {{ xp.Divination }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Invention</h3>
              {% if skills.Invention > 119 %}
                {% if xp.Invention > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Invention }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Invention }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Invention }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Invention }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Invention }}</h4>
                <h4>XP {{ xp.Invention }}</h4>
              {% endif %}
            </div>
            <div class="resume-item pb-0">
              <h3>Archaeology</h3>
              {% if skills.Archaeology > 119 %}
                {% if xp.Archaeology > 199999999 %}
                  <h4 style="color: royalblue;">Level {{ skills.Archaeology }}</h4>
                  <h4 style="color: royalblue;">XP {{ xp.Archaeology }}</h4>
                {% else %}
                  <h4 style="color: lime;">Level {{ skills.Archaeology }}</h4>
                  <h4 style="color: lime;">XP {{ xp.Archaeology }}</h4>
                {% endif %}
              {% else %}
                <h4>Level {{ skills.Archaeology }}</h4>
                <h4>XP {{ xp.Archaeology }}</h4>
              {% endif %}
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title" style="color:#e1bb34;">Event Log</h3>
            {% for i in activities %}
              <div class="resume-item" style="color:#e1bb34;">
                <h4 style="color: lightgray;">{{ i.0 }}</h4>
                <h4>{{ i.2 }}</h4>
                <h4>{{ i.1 }}</h4>
              </div>
            {% endfor %}
            <!-- <div class="resume-item"> -->
            <!--   <h4>Information Technology Support Engineer</h4> -->
            <!--   <h5>Sep 2021 - Present</h5> -->
            <!--   <p><em>TechnologyAdvice, Nashville, TN </em></p> -->
            <!--   <ul> -->
            <!--     <li>idk yet</li> -->
            <!--     <li>it's not listed on linkedin</li> -->
            <!--     <li>i'll fill stuff in here whenever you tell me</li> -->
            <!--     <li>what do you do at your job lol</li> -->
            <!--   </ul> -->
            <!-- </div> -->
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'iportfolio/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'iportfolio/assets/js/main.js' %}"></script>

</body>

</html>