{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Runescape 3 - Ergo</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'iportfolio/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'iportfolio/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'iportfolio/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'iportfolio/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'iportfolio/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.5.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'iportfolio/assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="iportfolio.html">Ergo</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#numbers" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Summary</span></a></li>
          <li><a href="#quests" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Quests</span></a></li>
          <li><a href="#levels" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Levels</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Facts Section ======= -->
    <section id="numbers" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Summary</h2>
          <p>The important numbers about this character.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ combatlevel }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Combat Level</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ totalskill }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Total Skill</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ totalxp }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Total XP</strong> and no signs of stopping</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ rank }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Current Rank</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="quests" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Below are some of my major skills, though this is far from comprehensive.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Customer Service <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Team Leadership <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Troubleshooting <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Technical Support <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Bash <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="levels" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Feel free to reach out, as I could surely benefit your company as well.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Thomas Portz</h4>
              <p><em>Dedicated and team-focused individual, ready and able to support others at any moment.</em></p>
              <ul>
                <li>(863) 214-5968</li>
                <li>thomas@portz.dev</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science &amp; Human Factors Psychology</h4>
              <h5>2007 - 2011</h5>
              <p><em>Embry-Riddle Aeronautical University</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Information Technology Support Engineer</h4>
              <h5>Sep 2021 - Present</h5>
              <p><em>TechnologyAdvice, Nashville, TN </em></p>
              <ul>
                <li>idk yet</li>
                <li>it's not listed on linkedin</li>
                <li>i'll fill stuff in here whenever you tell me</li>
                <li>what do you do at your job lol</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Service Desk Analyst</h4>
              <h5>Apr 2018 - Sep 2021</h5>
              <p><em>Masrch & McLennan Companies, Louisville, KY</em></p>
              <ul>
                <li>Provide accurate and complete information for incident reporting and resource requests</li>
                <li>Perform primary troubleshooting and ensure resolution in as many cases as possible</li>
                <li>Liaise with second and third tier support teams to resolve more complex or specialized issues</li>
                <li>Ensure complete adherence to ticket quality and incident management process standards</li>
                <li>Identify major service disruptions and engage all necessary resources to minimize downtime</li>
                <li>Educate colleagues on self-service processes and incident/request time to resolution goals</li>
                <li>Compensate for inbound traffic fluctuations and make on-the-fly adjustments to manage queue hold times</li>
                <li>Support process and operating environment changes by monitoring and highlighting post-change incidents</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'iportfolio/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'iportfolio/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'iportfolio/assets/js/main.js' %}"></script>

</body>

</html>